// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// button primary
.favorites-style {
  padding: 50px 67px;

  @include desktop-lg {
    padding: 50px 150px;
  }

  @include mobile {
    padding: 0px;
  }

  .title2 {
    font-weight: bold;
    color: $black;
    font-size: 22px;

    @include mobile {
      font-size: 20px;
    }
  }

  .icon {
    width: 48px;
    height: 48px;
    background: #f0eaff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    padding: 15px;

    @include mobile {
      padding: 8px;
    }

    img {
      width: 100%;
    }
  }

  .d-flex {
    display: flex;
    align-items: center;
  }

  .header-section {
    @include mobile {
      padding: 10px 20px;
    }
  }

  .title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    @include mobile {
      margin-top: 0;
      margin-bottom: 20px;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .title3 {
      font-weight: 600;
      color: $theme-dark;
      font-size: 22px;
    }
  }

  .hospitals-section {
    margin-top: 80px;

    @include mobile {
      margin-top: 40px;
    }
  }

  .image-card-section {
    margin-top: 50px;
    padding: 50px 30px;
    background-color: #faf9ff;

    @include desktop-lg {
      padding: 50px;
    }

    @include mobile {
      padding: 30px 20px;
    }

    .card-body {
      text-align: center;
      .nonfavourite{
        float: right;
      }
      .favourite{
        color:red;
        float: right;
      }
    }

    .card-title {
      font-size: 16px;
      color: $theme-dark;
      font-weight: bold;
      line-height: 1.2;
      margin-top: 20px;
    }

    .description {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4;
      text-transform: uppercase;
      color: $theme-dark;
      margin-top: 22px;
    }

    .img-card {
      width: 100%;
      height: 120px;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;

      @include desktop-lg {
        height: 160px;
      }

      @include mobile {
        height: 190px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .button-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    :global(.ant-btn) {
      max-width: 250px;
      margin-left: 0;

      @include mobile {
        min-width: auto;
        font-size: 14px;
      }
    }
  }

  .slider-row {
    @include mobile {
      flex-wrap: nowrap;
      width: 100%;
      overflow-x: scroll;

      @include scroll-hide();
    }
  }
}
