// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// button primary
.button-primary {

  :global(.ant-btn) {
    width: 100%;
    background-color: $theme-primary;
    border: none;
    height: 46px;
    font-weight: 600;
    font-size: 16px;

    @include mobile {
      min-width: 100%;
      width: auto;
    }
  }

  &.green {

    :global(.ant-btn) { 
      background-color: $theme-green;
      min-width: 100px;
    }
  }

  .icon-style {
    margin-left: 10px;
  }

}