// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// button primary
.faq-style {
  padding: 70px 150px;

  @include mobile {
    padding: 80px 20px;
  }

  .title2 {
    text-align: center;
    font-weight: bold;
    color: $black;
  }

  .description {
    max-width: 100%;
    margin: 10px auto 0;
  }

  .faq-section {
    margin-top: 50px;

    @include mobile {
      margin-top: 0px;
    }
  }

  .ant-collapse-header {
    background: #F8F4FF;
    border-radius: 5px;
    color: $theme-dark;
    font-size: 15px;
  }

  .ant-collapse-content {
    background-color: $white;

    p {
      padding: 18px 0px 0;
      max-width: 80%;
      font-size: 14px;
      color: $theme-dark;
      opacity: 0.7;

      @include mobile {
        max-width: 100%;
      }
    }
  }
  
  .ant-collapse-item {
    border: none;
    margin-bottom: 30px;
  }

  .ant-collapse-borderless {
    background: none;
  }
}
