// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

.book-consultation-slot {
  background-color: $white;
  border-radius: 6px;
  border: 1px solid $border-color-light;
  min-height: 100%;

  :global(.ant-card) {
    border-radius: 0;
    background: none;
    border: none;
  }

  .text-block-style {
    display: flex;
    flex-direction: column;
    color: rgba($theme-dark, 0.4);

    span {
      font-size: 18px;
      color: $theme-dark;
      font-weight: 600;
      letter-spacing: 0.02em;
    }
  }

  .card-slot {
    padding-bottom: 30px;

    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #d2d2d2;
      padding: 20px;
    }

    .card-tab-sec {
      padding: 0 20px;

      :global(.ant-tabs-tabpane) {
        padding: 0;
      }
    }

    :global(.ant-card-body) {
      padding: 0;
    }

    .title {
      font-size: 17px;
      color: $theme-dark;
      font-weight: 600;
    }

    .price {
      font-size: 18px;
      color: $theme-dark;
      font-weight: 600;
    }
  }
}