// variables
@import '../../styles/variables/colors';
@import '../../styles/variables/mixins';

.doctors-list {
  .doctor-section {
    .card-style {
      margin-bottom: 30px;
    }

    .card-section {
      .img-card {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        margin-right: 20px;
        cursor: pointer;

        @include mobile {
          width: 100%;
          height: 150px;
          border-radius: 2%;
          margin-right: 0px;
          margin-bottom: 30px;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          object-fit: cover;
          object-position: top;
        }
      }

      :global(.ant-card-body) {
        display: flex;
        margin-top: auto;
        margin-bottom: 0;

        @include mobile {
          flex-direction: column;
        }
      }

      .description {
        font-size: 15px;
        font-weight: 500;
        color: #726e7c;
      }

      .title4 {
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
      }

      .tag-style {
        position: absolute;
        top: 0;
        right: 20px;
        display: flex;
        flex-direction: column;
        z-index: 1;

        &:before {
          background: url('/static/images/icons/tag.svg');
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: 14px;
          right: 1px;
          width: 100%;
          height: 100%;
          content: '';
          transform: scale(1.9);
        }

        img {
          width: 12px;
          margin-top: 5px;
        }
      }

      .hospital-name {
        color: $theme-primary;
        cursor: pointer;
      }
      .action-section {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        @include mobile {
          align-items: flex-start;
        }
      }

      .availability-style {
        display: flex;
        align-items: center;

        @include mobile {
          margin: 25px 0;
        }

        img {
          margin-right: 10px;
        }

        .title {
          font-weight: 600;
          color: #4caf50;
          font-size: 16px;
          margin-top: 0;
          margin-bottom: 0;

          &.text-warning {
            color: #ff8000;
          }
        }
      }

      .logo-style {
        width: 20px;
      }

      .certified {
        font-size: 16px;
        font-weight: 500;

        img {
          margin-right: 20px;
        }
      }
    }
  }

  .tags {
    display: flex;
    align-items: center;

    .tag-item {
      background: #f8f5ff;
      border-radius: 5px;
      height: 40px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $theme-dark;
      margin-right: 15px;

      span {
        background-color: $theme-primary;
        color: $white;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  .search-section {
    @include mobile {
      margin-top: 30px;
    }
    input {
      height: 40px;
      border: 1px solid #cecece;
      box-sizing: border-box;
      border-radius: 5px !important;
      padding-left: 40px;
    }

    :global(.ant-input-group) {
      display: flex;
      flex-direction: row-reverse;
    }

    :global(.ant-btn) {
      border: none;
      margin-top: 4px;
      margin-left: 8px;
    }
  }
}

.custom-list {
  :global(.ant-pagination) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
