// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

.login-section {

  .link-section {
    border-top: 1px solid #cecece;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .forgot-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .ant-checkbox-wrapper {
      margin-bottom: 0;

      .ant-checkbox {
        top: 0;
      }
    }

  }

  .text-info {
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
  }
}

// or-divider
.or-divider {
  position: relative;
  margin-top: 30px;

  &::after {
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background: #cecece;
    z-index: -1;
  }

  .divider-style {
    font-size: 16px;
    color: rgba($theme-dark, 0.3);
    position: relative;
    z-index: 1;
    background: $white;
    display: table;
    margin: 0 auto;
    padding: 0 10px;
  }
}
